/* Terminal container */
.terminal {
  background-color: #2e2e2e;
  width: auto;
  height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}

/* User and command text */
.user {
  color: #a0a0a0;
  margin-right: 10px;
}

.command {
  color: #c0c0c0;
}

/* Input line */
.input-line {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input {
  background-color: transparent;
  color: #dcdfe1;
  border: none;
  outline: none;
  width: 100%;
  font-family: "Courier New", monospace;
  font-size: 16px;
  padding-left: 5px;
}

/* Focus effect */
.input:focus {
  outline: none;
}
